@model sheego.Framework.Presentation.Web.Models.ReleaseCombined

@{
    ViewBag.Title = "Edit release";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{  
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <!-- Text input-->
    <div class="form-group row">
        @Html.LabelFor(model => model.Release.Version, new { @class = "col-md-2 control-label", @for = "textinput" })
        <div class="col-md-4">
            @Html.DisplayFor(model => model.Release.Version, new { @class = "form-control input-md" })
            @Html.HiddenFor(model => model.Release.Version)
        </div>
    </div>

    <!-- Textarea -->
    <div class="form-group row">
        @Html.LabelFor(model => model.Release.Description, new { @class = "col-md-2 control-label", @for = "textarea" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Release.Description, new { placeholder = "Enter release description", @class = "form-control input-md" })
        </div>
    </div>

    <!-- Due Date-->
    <div class="form-group row">
        @Html.LabelFor(model => model.Release.DueDate, new { @class = "col-md-2 control-label", @for = "date" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Release.DueDate, new { placeholder = "Enter release due date", @class = "form-control input-md" })
            @Html.ValidationMessageFor(model => model.Release.DueDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <h4>Release Unit</h4>

    <div class="form-group row">
        <div class="col-md-4">
            <input id="NewReleaseUnit" name="NewReleaseUnit" placeholder="Enter release unit" type="text" value="">
        </div>
        <div class="col-md-2">
            <button name="action" value="addreleaseunit" class="btn btn-primary">Add release unit</button>
        </div>
    </div>

    <!-- List of releaseunits -->
    <table class="table">
    @if (Model.Release.UnitList.Any())
    {
        <tr>
            <th>Release Unit List</th>
            @foreach (var stakeholder in Model.StakeholdersHeadline)
            {
                <th style="text-align:center">@stakeholder.Name</th>
            }
        </tr>
        for (var j = 0; j < Model.Release.UnitList.Count; j++)
        {
            <tr>
                <td>@Html.DisplayFor(model => model.Release.UnitList[j].Name)</td>
                @Html.HiddenFor(model => model.Release.UnitList[j].Name)
                @for (var k = 0; k < Model.Release.UnitList[j].StakeholderList.Count; k++)
                {
                    <td style="text-align:center">@Html.CheckBoxFor(model => model.Release.UnitList[j].StakeholderList[k].IsParticipating)</td>
                    @Html.HiddenFor(model => model.Release.UnitList[j].StakeholderList[k].Name)
                }
            </tr>
            for (var l = 0; l < Model.Release.UnitList[j].ReleaseElementsList.Count; l++)
            {
                <tr>
                    <td colspan="@(Model.Release.UnitList[j].StakeholderList.Count + 1)" style="text-align:start">
                        <div id="releaseElements">
                            <ul>
                                <a href="@Model.Release.UnitList[j].ReleaseElementsList[l].Content">
                                    @Html.HiddenFor(model => model.Release.UnitList[j].ReleaseElementsList[l].Content)
                                    <li>@Model.Release.UnitList[j].ReleaseElementsList[l].SelectListPrefix</li>
                                    @Html.HiddenFor(model => model.Release.UnitList[j].ReleaseElementsList[l].SelectListPrefix)
                                </a>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    }
    else
    {
        <tr>
            <th>No Release Units to display</th>
        </tr>
    }
    </table>

    <!-- Buttons -->
    <div class="form-group row">
        <div class="col-md-2">
            <button name="action" value="save" class="btn btn-primary">Save</button>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <button name="action" value="createdeployment" class="btn btn-primary">Create deployment</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
