@model IEnumerable<sheego.Framework.Presentation.Web.Models.Release>

@{
    ViewBag.Title = "Releases - Home Page";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
    {
    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitList[0].StakeholderList)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @{ 
                        var participatingStakeholders = "";
                        foreach(var releaseUnit in item.UnitList)
                        {
                            foreach(var stakeholder in releaseUnit.StakeholderList)
                            {
                                if(stakeholder.IsParticipating && !participatingStakeholders.Contains(stakeholder.Name))
                                {
                                    participatingStakeholders = participatingStakeholders + " " + stakeholder.Name;
                                }
                                else
                                {
                                    continue;
                                }
                            }
                        }
                    }
                    @Html.Raw(participatingStakeholders)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { version=item.Version}) |
                    @Html.ActionLink("Delete", "Delete", new { version = item.Version }) |
                    @Html.ActionLink("Prepare", "Prepare", new { version = item.Version})
                </td>
            </tr>
        }
    </table>
}

@using (Html.BeginForm("Create", "Release", FormMethod.Get))
{
    <p>
        @Html.TextBox("Version", "", new { placeholder = "Enter release version" })
        <button name="action" value="addnewrelease" class="btn btn-primary">Add new release</button>
    </p>
}
