@model sheego.Framework.Presentation.Web.Models.Deployment

@{
    ViewBag.Title = "Add new deployment";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <!-- Text input-->
    <div class="form-group row">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-2 control-label", @for = "textinput" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Name, null, new { placeholder = "Enter deployment name", @class = "form-control input-md" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Textarea -->
    <div class="form-group row">
        @Html.LabelFor(model => model.Description, new { @class = "col-md-2 control-label", @for = "textarea" })
        <div class="col-md-4">
            @Html.TextAreaFor(model => model.Description, new { placeholder = "Enter deployment description", @class = "form-control input-md" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Due Date-->
    <div class="form-group row">
        @Html.LabelFor(model => model.DueDate, new { @class = "col-md-2 control-label", @for = "date" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.DueDate, new { type = "date", value = new { DateTime.Now } }) <!-- ToDo: Change text to something generic -->
            @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <p>
        <h4>Deployment environment</h4>
        <div class="form-group row">
            <div class="col-md-8">
                @*Environments drop down list*@
                @Html.DropDownList("Environment", Model.Environments, "Select environment", new { @class = "col-md-4" })
            </div> 
        </div>
    </p>

    <hr />
    <p>
        <h4>Release version</h4>
        <div class="form-group row">
            <div class="col-md-8">
                @*Releases drop down list*@
                @Html.DropDownList("ReleaseVersion", Model.ReleaseVersions, "Select release version", new { @class = "col-md-4" })
            </div>
        </div>
    </p>

    <!-- Buttons -->
    <div class="form-group row">
        <div class="col-md-2">
            <button name="action" value="save" class="btn btn-primary">Save</button>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <button name="action" value="confirmdeployment" class="btn btn-primary">Confirm deployment</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
